{% extends '@UbungenoUser/layout/front.html.twig' %}

{% block body %}
    <form method="post" action="">
        <input type="text" name="login">
        <br>
        <input type="password" name="passwd">
        <br>
        <button type="submit">login</button>
    </form>
{% endblock %}